<div id="page_container">
  <span class="page_title">About Us</span>

<div class="body_text">  
At Kimavid mugs, we try to bring you arty, stylish and individual mugs to liven up any cupboard and to make having a brew ever better.<br>
We have limited edition ranges designed by our artist David, so why hang a piece of art up on a wall when you can drink from it?! We also personalise mugs, so if there is a special occasion coming up for a friend or family member, why not treat them to a new mug. Were all about making the customer happy so if you don't see anything thats not suiting your needs, just send us a quick email and we will be happy to work with you to get what you want. We have new ranges all throughout the year, so sign up for our newsletter to ensure you don't miss out on these, and special offers.
</div>

</div>