<div id="page_container">
  <span class="page_title">How To Buy</span>

  <div class="body_text">
	At Kimavid mugs, we are constantly trying to make purchasing from us easier. As we are a relatively new and small company,you cant order from us online at the moment. However, we accept orders via email, tweets and you can even send us a message on facebook. This makes ordering easier as if there are any special requirements you want, you can just include them in the message. Below is the 4 simple steps you need to make to get your mug:<br><br> 
	1) Find the mug you would like and send us a message either by our email, twitter or facebook. <br><br> 
	2) Once we have recieved your request we will send you an invoice which you can either pay via paypal or online banking. <br><br> 
	3) Once payment is recieved we will complete your order and send out to you by first class delivery. <br> <br>
	4) You recieve your mug and enjoy a nice brew (or begrundgingly give it away as a present)
  </div>	
</div>