<div class="menu_container">
  <div class="menu_sub_container">
		
    <%= link_to mugs_path do %>
	  <div class="menu_option">
	    <div class="menu_option_title">
	    Mugs
	    </div>
	  </div>
	<% end %>
	
	<%= link_to page_path("buy") do %>
	  <div class="menu_option">
		  <div class="menu_option_title">
		    How to buy
		  </div>
		</div>
	  <% end %>
	
	  <%= link_to page_path("about") do %>
		<div class="menu_option">
		  <div class="menu_option_title">
		    About
		  </div>
		</div>
	  <% end %>
	
	  <%= link_to page_path("contact") do %>
		<div class="menu_option">
		  <div class="menu_option_title">
		    Contact
		  </div>
		</div>
	  <% end %>
	</div>		
  </div>